<section data-ur-set="toggler">
  <h1 data-ur-toggler-component="button">
    Things 
    <span class="toggler-icon ion-plus"></span>
    <span class="toggler-icon ion-minus"></span>
  </h1>
  <ul data-ur-toggler-component="content">
    <li><a href="{{ root_url }}/about">About</a></li>
    <li><a href="{{ root_url }}/city-guides">City Guides</a></li>
    <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
    <li><a href="http://twitter.com/malrase">Twitter</a></li>
  </ul>
</section>
