<div class="sharing">
  <span>Share on:</span>
  {% if site.twitter_tweet_button %}
    <a class="share twitter ion-social-twitter" href="https://twitter.com/intent/tweet?text=City guide to {{ page.title }} by @malrase&amp;url={{ site.url }}{{ page.url }}"></a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
    <a class="share facebook ion-social-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"></a>
  {% endif %}
</div>
