<div class="follow">
  <div class="twitter">
    <a href="http://twitter.com/malrase" class="ion-social-twitter" target="_blank"></a>
  </div>
  <div class="facebook">
    <a href="http://facebook.com/mjlcatlin" class="ion-social-facebook" target="_blank"></a>
  </div>
  <div class="instagram">
    <a href="http://instagram.com/malrase" class="ion-social-instagram" target="_blank"></a>
  </div>
  <div class="github">
    <a href="http://github.com/malrase" class="ion-social-github" target="_blank"></a>
  </div>
  <div class="rss">
    <a href="{{ site.subscribe_rss }}" class="ion-social-rss" target="_blank"></a>
  </div>
</div>

<span>Copyright &copy; {{ site.time | date: "%Y" }} - Michael Lintorn Catlin</span>
<div class="credit">Powered by <a href="http://octopress.org" target="_blank">Octopress</a></div>
