body > footer {
  background: $footer-background;
  color: $footer-color;
  text-align: center;
  padding: 40px 0;
  position: relative;
  bottom: 0px;
  @media screen and (max-width: $small-break) {
    font-size: 13px;
  }
  a {
    color: $footer-color;
    border-bottom: none;
    &:visited {
      color: $footer-color;
    }
    &:hover {
      color: $footer-hover-color;
    }
  }
  .follow {
    margin-bottom: 20px;
    > * {
      display: inline-block;
      font-size: 20px;
      margin-left: 20px;
      a:hover {
        border-bottom: none;
      }
    }
  }
  .credit {
    margin-top: 20px;
  }
}
