body > header {
  padding: 10px $body-margin-left;
  a {
    color: #444;
    font-family: $head-serif;
    &:visited {
      color: #444;
    }
  }
}

body > nav {
  background: $nav-bar-color;
  padding: 10px;
  height: 55px;
  margin-bottom: 30px;
  .search {
    padding: 5px;
    border: none;
    background: lighten($nav-bar-color, 20%);
    color: $input-color;
    font-size: 13px;
    float: right;
    margin-top: 3px;
    width: 240px;
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
       color: $input-color;
       opacity: 0.6;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $input-color;
       opacity: 0.6;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $input-color;
       opacity: 0.6;  
    }

    :-ms-input-placeholder {  
       color: $input-color;
       opacity: 0.6;  
    }
  }
}