body > header {
  padding: 10px $body-margin-left;
  h1 {
    @media screen and (max-width: $break) {
      text-align: center;
    }
  }
  a {
    color: $header-color;
    border-bottom: none;
    font-family: Helvetica, sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    @media screen and (max-width: $large-break) {
      font-size: 1.5em;
    }
    @media screen and (max-width: $break) {
      font-size: 0.8em;
    }
    &:visited {
      color: $header-color;
    }
    &:hover {
      border-bottom: none;
    }
  }
}

body > nav {
  background: $nav-bar-color;
  display: inline-block;
  padding: 10px;
  height: 55px;
  width: 100%;
  form {
    @media screen and (max-width: $small-break) {
      display: inline-block;
      width: 80%;
    }
  }
  .search {
    padding: 5px;
    border: none;
    background: lighten($nav-bar-color, 20%);
    color: $input-color;
    font-size: 13px;
    float: right;
    margin-top: 3px;
    width: 240px;
    @media screen and (min-width: $break) {
      width: 23.8%;
    }
    @media screen and (max-width: $small-break) {
      width: 100%;
    }
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
       color: $input-color;
       opacity: 0.6;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $input-color;
       opacity: 0.6;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $input-color;
       opacity: 0.6;
    }

    :-ms-input-placeholder {
       color: $input-color;
       opacity: 0.6;
    }
  }

  #menu_button {
    color: #BBB;
    cursor: pointer;
    float: right;
    font-family: $head-sans;
    margin-top: 8px;
    margin-right: 2px;
    text-align: right;
    width: 18%;
  }

  #menu {
    background: #444;
    margin-left: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 112%;
    z-index: 3;
    a {
      border-bottom: none;
      color: #DDD;
      display: block;
      padding: 10px;
      text-transform: uppercase;
      font-family: $head-sans;
    }
    @include transition(0.8s);

    &.closed {
      display: none;
    }
  }

  #menu_button, #menu {
    @media screen and (min-width: $small-break) {
      display: none;
    }
  }
}
