.blog-index {
  article {
    border-bottom: 1px solid #eee;
  }
  .meta {
    opacity: 0.5;
  }
}

a[rel=full-article] > span {
  margin-left: 5px;
}

.pagination {
  margin: 0 0 30px 0;
  @media screen and (max-width: $break) {
    margin-right: 10px;
  }
  .prev {
    > span {
      margin-right: 5px;
    }
  }
  .archives {
    text-align: center;
  }
  .next {
    text-align: right;
    > span {
      margin-left: 5px;
    }
  }
}