.city-guide {
  h1 {
    margin-bottom: 30px;
  }
  h3 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  li {
    margin-bottom: 10px;
  }
  article > ul {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  ul > li {
    margin-top: 10px;
  }
  .city-view img {
    max-width: 200px;
    float: right;
    margin-left: 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    @media screen and (max-width: $small-break) {
      margin: 0 auto 20px;
      float: none;
      display: block;
    }
  }
  .info {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
  }
  .sharing {
    > a {
      border-bottom: none;
      color: $nav-bar-color;
      font-size: 18px;
      margin: 0 10px;
      &:hover {
        color: $anchor;
      }
    }
  }
}
