body {
  color: #444;
  font-family: Helvetica;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $head-sans;
}

h4 {
  margin-bottom: 5px;
  text-decoration: underline;
}

p, ul, ol {
  line-height: 1.4em;
}

ul, ol {
  margin-left: 40px;
}

ul {
  list-style: inherit;
}

ol {
  list-style: decimal;
}

a {
  text-decoration: none;
  color: $anchor;
  &:visited {
    color: $anchor;
  }
  &:hover {
    color: darken($anchor, 17%);
  }
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

article h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}
article {
  margin-bottom: 40px;
  padding-bottom: 20px;
}

article, .comments {
  margin-right: 60px;
  @media screen and (max-width: $break) {
    margin-right: 10px;
  }
}

#main {
  margin: 10px $body-margin-left;
  @media screen and (max-width: $break) {
    margin: 25px;
  }
}


.img {
  background: #eee;
  padding: 10px;
  text-align: center;
  @media screen and (min-width: $break) {
    margin: 0px auto 30px;
    display: block;
    width: 520px;
  }
  @media screen and (max-width: $break) {
    margin: 0px 0px 20px;
  }
  img {
    max-width: 500px;
    @media screen and (max-width: $break) {
      max-width: 240px;
    }
  }
  .alt {
    font-style: italic;
    font-size: 13px;
    padding: 10px;
    @media screen and (max-width: $break) {
      padding: 5px;
    }
  }
}

.basic-alignment {
  margin-top: 30px;
  &.left {
    float: left;
    > span {
      margin-right: 5px;
      top: 1px;
    }
  }
  &.right {
    float: right;
    > span {
      margin-left: 5px;
      top: 1px;
    }
  }
}





