body {
  color: #444;
  font-family: Helvetica;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $head-sans;
}

p, ul, ol {
  line-height: 1.4em;
}

ul, ol {
  margin-left: 40px;
}

ul {
  list-style: inherit;
}

ol {
  list-style: decimal;
}

a {
  text-decoration: none;
  color: $anchor;
  &:hover {
    opacity: 0.8;
  }
  &:visited {
    color: $anchor;
  }
}

article h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}
article {
  margin-bottom: 40px;
  margin-right: 60px;
  padding-bottom: 20px;
  @media screen and (max-width: $break) {
    margin-right: 10px;
  }
}

#main {
  margin: 10px $body-margin-left;
  @media screen and (max-width: $break) {
    margin: 10px;
  }
}

.img {
  background: #eee;
  padding: 10px;
  text-align: center;
  margin: 0 3rem 1.5rem;
  display: inline-block;
  @media screen and (max-width: $break) {
    margin: 0 10px 20px;
  }
  img {
    max-width: 500px;
    @media screen and (max-width: $break) {
      max-width: 240px;
    }
  }
  .alt {
    font-style: italic;
    font-size: 13px;
    padding: 10px;
    @media screen and (max-width: $break) {
      padding: 5px;
    }
  }
}

.basic-alignment {
  margin-top: 40px;
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}
