$head-serif: "Nixie One", Georgia, serif;
$head-sans: "Raleway", Helvetica, sans-serif;

$teal: #4FA490;
$grey: #444444;
$white: #FFFFFF;

$primary: $grey;
$secondary: $teal;

$nav-bar-color: $primary;
$anchor: $secondary;
$input-color: $white; // white

$body-margin-left: 10%;

$small-break: 425px;
$break: 850px;